SPRING_DATASOURCE_URL=jdbc:mysql://your-host:3306/your-db
SPRING_DATASOURCE_USERNAME=your-username
SPRING_DATASOURCE_PASSWORD=your-password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=3
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect